/* App.css */

/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Navigation */
.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.Dashboard h1{
  color: white;
  margin-right: 100px;
}

.container {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.title {
  font-size: 24px;
}

/* Main content */
.main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card {
  padding: 10px;
  width: 20%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

input[type='text'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Result */
.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 150px;
  background-color: #bf0303;
  font-size: 18px;
  margin-bottom: 20px;
}

